*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2px;
    width: 400px;
    height: 550px;
    border: 1px solid black;
    box-shadow: 10px 15px 15px rgb(10, 10, 10);
    border-radius: 2px;
}
input{
    height: 100px;
    width: 100%;
    font-size: 32px;
    padding: 10px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.buttons button{
    width: 80px;
    height: 80px;
    font-size: 32px;
}
button:hover{
    background-color: rgb(230, 228, 228);
    border: 0;
    cursor: pointer;
}
input ::placeholder{
    font-size: 32px;
}
